* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
:root {
  /* background */
  --button: #0061ff;
  --hero-porta: #b4d0e7;
  --centro: #f5f5f5;
  /* Scritte */
  --porta: #61082b;
  /* Sponsor 1 */
  --designit: #a2d39b;
  --asu: #61082b;
  --uf: #0093ce;
  --topps: #ff1c1c;
  /* Sponsor 2 */
  --world: #d5001f;
  --hears: #b4d0e7;
  --lonely: #0d2481;
  --clear: #ffd830;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding-top: 80px;
}

.container-grande {
  max-width: 1200px;
  margin: 0 auto;
}

.container-piccolo {
  max-width: 1020px;
  margin: 0 auto;
}

.container-sponsor {
  max-width: 530px;
  margin: 0 auto;
}

.container-abbonamenti {
  max-width: 240px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.button1:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

.button1 a {
  padding: 5px 10px;
  background-color: var(--button);
  color: white;
}

h1 {
  font-size: 79px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 17px;
}

hr {
  width: 65px;
  margin-top: 45px;
  margin-bottom: 45px;
  color: gray;
}

/* Header */
header .top-bar {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 3px lightgray;
}

header .top-bar .info div a,
header .top-bar .inizia div a {
  margin-right: 45px;
  color: black;
}

div .single-bar:hover {
  height: 185%;
  border-bottom: 2px solid;
  text-align: center;
}

.inizia div.single-bar:hover {
  height: 220%;
  border-bottom: 2px solid;
  text-align: center;
}

header .top-bar .inizia .button1 a{
color: white;
}

/* button */
header .top-bar .inizia .button1 {
  margin-right: 0;
  width: 60px;
  display: inline-block;
  margin-right: 20px;
}

.logo {
  margin-right: 50px;
  margin-left: 25px;
}

/* Main */
/* hero */
section.hero {
  /* height: calc(100vh - 287px); */
  background-color: var(--hero-porta);
  height: 650px;
}

.hero .container-grande .titolo {
  height: 200px;
  width: 1090px;
}

.hero .container-grande .info-titolo {
  padding-top: 75px;
}

.hero .container-grande .info-titolo .prova {
  max-width: 370px;
}

.hero .container-grande .info-titolo .prova .button1 {
  padding: 35px 0;
}

.hero .container-grande .proposta img {
  width: 800px;
}

.hero .container-grande .info-titolo .prova i {
  font-size: 55px;
  padding-top: 50px;
}

/* /hero */
/* piano */
.titolo-piano {
  padding-top: 70px;
}

.piano .container-piccolo,
.fatturazione {
  margin-top: 80px;
  margin-bottom: 55px;
}

.piano .container-piccolo .fatturazione .mensile i {
  color: white;
  background-color: #0061ff;
  border-radius: 50%;
}

.piano .container-piccolo .fatturazione .annuale {
  margin-left: 40px;
}

.singolo,
.team,
.azienda{
  width: 300px;
  height: 1160px;
  border: 1px solid black;

}


.team {
  margin-left: 59px;
  margin-right: 59px;
}

.title-p {
  padding-bottom: 30px;
  padding-top: 40px;
}

.nome-abbonamento {
  justify-content: center;
  text-align: center;
  width: 300px;
  border-bottom: 1px solid black;
  font-size: 13px;
  padding: 6px 0px;
}


.prezzo {
  height: 130px;
}

.prezzo strong {
  padding-top: 30px;
}

.prezzo span {
  padding-top: 10px;
  padding-bottom: 60px;
}

.abbonamento p {
  margin-bottom: 30px;
  margin-top: 33px;
}

.container-abbonamenti .button1 {
  margin-bottom: 30px;
  padding-top: 25px;
}

.abbonamento .button1 a {

  width: 240px;
  display: flex;
  justify-content: center;
}

.acquista p span {
  text-decoration: underline;
  color: #61082b;
}

.fa-solid.fa-check {
  color: blue;
}

/* /piano */
/* contatta */
.container-piccolo .enterprise {
  width: 100%;
  margin-top: 50px;
  border: 1px solid black;
}

.container-piccolo .enterprise .nome-abbonamento {
  width: 100%;
  border-bottom: 1px solid black;
}

.container-piccolo .enterprise .contatta {
  padding-top: 40px;
}

.container-piccolo .enterprise .contatta .info-contatta {
  width: 70%;
  margin: 0 auto;
}

.container-piccolo .enterprise .contatta .info-contatta h3 {
  padding-bottom: 20px;
}

.container-piccolo .enterprise .contatta .info-contatta p {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container-piccolo .enterprise .contatta .button1 {
  margin: 0 auto;
}

.container-piccolo .enterprise .contatta .button1 a {
  padding: 10px 30px;
}

/* /contatta */
/* entra */
.container-piccolo .entra {
  width: 100%;
  margin-top: 150px;

}

.text-entra {
  padding: 50px;
}

.container-piccolo .entra .img-entra {
  width: 293%;
}

.container-piccolo .entra img {
  width: 100%;
}

.button2 {
  border: 1px solid black;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-top: 40PX;
}

.button2 a {
  color: black;
}

/* /entra */
/* cards */
.container-piccolo .esegui {
  margin-top: 170px;
}

.container-piccolo .esegui .cards {
  flex-wrap: wrap;
  margin-top: 20px;
}

.container-piccolo .esegui .cards .card {
  width: 30%;
  margin-top: 50px;
}

.container-piccolo .esegui .cards .card h3 {
  font-size: 25px;
}

.container-piccolo .esegui .cards .margin {
  margin-left: 51px;
  margin-right: 51px;
}

.container-piccolo .esegui .cards .card img {
  width: 100%;
}

.container-piccolo .esegui .cards .card p {
  padding-top: 45px;
}

/* /cards */
/* Busness */
.container-piccolo .busness {
  margin-top: 230px;
}

.container-piccolo .busness .titolo-busness {
  width: 60%;
}

.container-piccolo .busness .link-busness {
  margin-top: 80px;
}

.container-piccolo .busness .link-busness a {
  text-decoration: underline;
  color: #61082b;
}

/* /Busness */
/* sponsor */
.sponsor {
  width: 100%;
  margin-top: 150px;

}


.sponsor .sinistra {
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.designit,
.asu,
.uf,
.toppes {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designit:hover,
.asu:hover,
.uf:hover,
.toppes:hover {
  border: 20px solid rgb(0, 0, 0, 0.25);
}

.designit {
  border: 20px solid rgb(0, 0, 0, 0.25);
  background-color: var(--designit);
}

.asu {
  background-color: var(--asu);
}

.uf {
  background-color: var(--uf);
}

.toppes {
  background-color: var(--topps);
}

.sponsor .sinistra img {
  width: 150px;
  filter: invert(100%);
}

/* centro */
.centro {
  width: calc(100% / 3);
  padding: 50px;
  background-color: var(--centro);
}

.centro .logo2 img {
  width: 250px;
}

.centro p:last-child {
  margin-top: 65px;
}

/* destra */
.destra {
  width: calc(100% / 3);
}

.sponsor .destra {
  width: calc(100% / 3);
  flex-wrap: wrap;
  filter: invert(100%);
}

.world,
.hearst,
.lonely,
.clear {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world:hover,
.hearst:hover,
.lonely:hover,
.clear:hover {
  border: 20px solid rgb(0, 0, 0, 0.25);


}

.world {
  background-color: var(--world);
}

.hearst {
  background-color: var(--hears);
}

.lonely {
  background-color: var(--lonely);
}

.clear {
  background-color: var(--clear);
}

.destra div img {
  width: 150px;
}


/* /sponsor */
/* prova gratuita */

.porta {
  height: 360px;
  background-color: var(--hero-porta);

}

.porta .button1 a {
  background-color: white;
  color: black;
  padding: 5px 30px;
  margin-left: 175px;
}

.porta .container-piccolo {
  align-items: center;
  height: 360px;
}

.titolo-porta {
  width: 580px;
}

.titolo-porta h2 {
  color: var(--porta);
}

/* /prova gratuita */
/* domande */
.titolo-domande {
  margin-top: 100px;
  margin-bottom: 50px;
}

.domande {
  position: relative;
  padding: 40px 0px;
  border-top: 1px solid gray;
  justify-content: space-between;

}

.domande:last-child{
border-bottom: 1px solid black;
}

.domande p {
  font-weight: bold;
}

.domande p i {
  margin-left: 250px;
}

.domande:hover p i:first-child {
  display: none;
}

.domande p .fa-solid.fa-angle-up {
  position: absolute;
  right: 51px;
  top: 41px;
  display: none;
}

.domande:hover p .fa-angle-up {
  display: block;
}

.domande div {
  display: none;
}

.domande:hover div {
  display: block;
}

.risposte {
  padding: 20px 0px;
  display: none;
}

.risposte p {
  font-weight: 500;

}

/* /domande */
/* Footer */
/* Menu */

footer {
  background-color: black;
  margin-top: 100px;
}

.menu-foot {
  justify-content: space-between;
}

.titolo-foot {
  color: white;
  padding-top: 100px;
}

.titolo-foot h3 {
  padding-bottom: 30px;
}

.titolo-foot p {
  padding-top: 20px;
}

div.titolo-foot hr{
margin-top: 100px;
}
.titolo-foot p a {
  color: white;
}

.titolo-foot span i {
  color: gray;
}

/* /Menu */