* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
:root {
  /* background */
  --button: #0061ff;
  --hero-porta: #b4d0e7;
  /* Scritte */
  --porta: #61082b;
  /* Sponsor 1 */
  --designit: #a2d39b;
  --asu: #61082b;
  --uf: #0093ce;
  --topps: #ff1c1c;
  /* Sponsor 2 */
  --world: #d5001f;
  --hears: #b4d0e7;
  --lonely: #0d2481;
  --clear: #ffd830;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  padding-top: 80px;
}

.container-grande {
  max-width: 1200px;
  margin: 0 auto;
}

.container-piccolo {
  max-width: 1020px;
  margin: 0 auto;
}

.container-sponsor {
  max-width: 530px;
  margin: 0 auto;
}

.container-abbonamenti{
max-width: 240px;
margin: 0 auto;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.debug {
  border: 1px solid black;
  background-color: cadetblue;
}

.inline-block {
  display: inline-block;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.button1 a{
  padding: 5px 10px;
  background-color: var(--button);
  color: white;
}

h1{
font-size: 79px;
}

h2{
font-size: 40px;
}

p{
font-size: 17px;
}

hr{
width: 65px;
margin-top: 45px;
margin-bottom: 45px;
}

/* Header */
header .top-bar {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header .top-bar .info nav ul li a,
header .top-bar .inizia nav ul li a {
  margin-right: 45px;
  color: black;
}
/* button */
header .top-bar .inizia .button1 {
  margin-right: 0;
  width: 60px;
  display: inline-block;
  margin-right: 20px;
}

.logo {
  margin-right: 50px;
  margin-left: 25px;
}

/* Main */
/* hero */
section.hero{
  /* height: calc(100vh - 257px); */
  background-color: var(--hero-porta);
}
.hero .container-grande .titolo{
  height: 200px;
  width: 1090px;
}

.hero .container-grande .info-titolo{
  padding-top: 75px;
}

.hero .container-grande .info-titolo .prova{
  max-width: 370px;
}
.hero .container-grande .info-titolo .prova .button1{
  padding: 35px 0;
}
.hero .container-grande .proposta img{
  width: 800px;
}

.hero .container-grande .info-titolo .prova i{
  font-size: 55px;
  padding-top: 50px;
}
/* /hero */
/* piano */
.piano .container-piccolo,
.fatturazione{
margin-top: 80px;
margin-bottom: 55px;
}

.singolo,
.team,
.azienda{
width: 300px;
height: 1000px;
border: 1px solid black;
margin
}

.team{
  margin-left: 59px;
  margin-right: 59px;
}

.title-p{
  padding-bottom: 30px;
  padding-top: 40px;
}
.nome-abbonamento{
justify-content: center;
text-align: center;
width: 300px;
border: 1px solid black;
}
.prezzo{
height: 130px;
}
.prezzo strong{
padding-top: 30px;
}
.prezzo span{
padding-top: 10px;
padding-bottom: 60px;
}

.abbonamento p{
margin-bottom: 30px;
}
.container-abbonamenti .button1{
  margin-bottom: 30px;
}
}
/* /piano */

/* Footer */